body{
    font-family: 'Poppins', sans-serif;
    
}










/* tablet media start */
@media only screen and (min-width: 541px) and (max-width:1200px ) {
    .sponsor{
        display: none;
    }
}
/* tablet media end */
/* mobile media start  */
@media only screen and (max-width: 540px) {
    .img-part{
        width: 335px;
        height: 362px;
    }
    .single-course{
        display: flex;
        flex-direction: column;
    }
    .course-img{
        max-height: 250px;
        max-width: 340px;
    }

.sponsor{
    display: none;
}
.register{
    margin-top: 20px;
}
   
}
/* mobile media end */